<div class="ih-item square colored effect6 bottom_to_top">
  <a >
    <div class="img"><img class="img" [src]='image_url' alt="img" /> </div>
    <div class="info">
      <h3>{{item.name}}</h3>
      <p>{{item.description}}</p>
    
      <div class="action_panel">
      <span class="action_botton">
          <a  class="view" routerLink="/shop/product/{{item.id}}"><i class="fa fa-search-plus" title="shopcart"></i> details</a>
      </span>
      <span class="action_botton">
        <a class="addicon" (click)="onAddToCart()"><i class="fa fa-shopping-cart" title="shopcart"></i> quote</a>
      </span>
      </div>
    </div>
  </a>
</div>
<div class="itemname">{{item.name}}</div>  