<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="filters-wrapper">
          <cart [inputNumProducts] ='numProducts' ></cart>
          <filters #filtersComponent [categories]='categories' [customFilters]='customFilters' [priceFilters]='priceFilters' (onFilterChange)='onFilterChange($event)' (onCategoryChange)='onCategoryChange($event)'></filters>
        </div>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-8">
            <div class="sort-filters-wrapper">
              <sort-filters [filters]='sortFilters' (onSortChange)='sortProducts($event)'></sort-filters>
            </div>
          </div>
          <div class="col-4">
            <search-bar  #searchComponent (onSearchChange)='onSearchChange($event)'></search-bar>
          </div>
        </div>
        <div class="row listcontrol">
          <div class="col-12">

          </div>
        </div>
        <div class="row displayarea">
          <div class="col-12" *ngIf="items?.length; else elseBlock">
            <showcase [items]='items'></showcase>
          </div>
          <ng-template #elseBlock>There is no item in this category</ng-template>
          <div *ngIf="pages?.length>1" class="footerpagination">
          <!-- <ul class=" pagination">
              <li class="" *ngFor="let p of pages;let i=index">
               <a class="current-page" href="#" (click)=setPages(i,$event) [ngClass]="{'pageactive':page==i}">{{i+1}}</a>
              </li>
         </ul> -->

         <ul class="pagination">

          <li [ngClass]="{isDisabled:page === 1}">
                <a  (click)="setFirstePages(1,$event)"  class="current-page">First</a>
          </li>
          <li [ngClass]="{isDisabled:page === 1}">
                <a  (click)="setPrePages(page - 1,$event)" class="current-page">Previous</a>
          </li>

          <li *ngFor="let p of npages ;let i=index">
            <a (click)="setPages(p,$event)" class="current-page"  [ngClass]="{'pageactive':page==p}" >{{p}}</a>
          </li>
          <li [ngClass]="{isDisabled:page === totalPages}">
              <a  (click)="setNextPages(page + 1,$event)" class="current-page" >Next</a>
          </li>
              <li [ngClass]="{isDisabled:page === totalPages}">
          <a  (click)="setNextPages(totalPages,$event)" class="current-page" >Last</a>
          </li>
</ul>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
