.ih-item.square {
  position: relative;
  width: 250px;
  height: 250px;
  border: 2px solid #fff;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}


.action_botton, .action_botton a{
  color: white;
  margin-right: 1rem;
  margin-left: 1rem;
}

.addicon{
  cursor: pointer;
}

.action_panel{
  margin-top: 4rem;
}

.ih-item.square.effect6 .info p {

  color: #fff;
}


.ih-item.square.effect6 .info h4 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  background: #111;
  margin: 30px 0 0 0;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}


.ih-item.square.effect6.colored .info {

  background: rgba(0,0,0,0.5);
}

.itemname{
  font-size: 0.9rem;
  text-align: center;
  margin-top: 5px;
  font-weight: 500;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

