
<app-page-header></app-page-header>


<div class="py-5 mycontent" id="items">
  <div class="row">
 
    x
      </div>
</div>
  <table>
      <tr *ngFor="let item of items">
       <td><div class="chapter"><a routerLink="">{{item.name}}</a></div></td>
       <td><div class="chapter"><a routerLink="">{{item.category_id}}</a></div></td>
       <td><div class="chapter"><a routerLink="">{{item.brand_id}}</a></div></td>
       <td><div class="chapter"><a routerLink="">{{item.description}}</a></div></td>
       <td><div class="chapter"><a routerLink="">{{item.image}}</a></div></td>
       <td><div class="chapter"><a routerLink="">{{item.partno}}</a></div></td>
       <td><div class="chapter"><a routerLink="">{{item.weight}}</a></div></td>
       <td><div class="chapter"><a routerLink="">{{item.material}}</a></div></td>
  </tr>
  </table>

